main {
	float: left;
	margin: 30px 20px;
}

h2 {
	color: green;
}

main .car {
	width: 500px;
	height: 300px;
	transition: .5s all;
	cursor: pointer;
	overflow: hidden; 
}

.transition {
	transform: scale(1.2);
}


